{% extends 'index.html' %}

{%block content%}
<!-- http://www.mzan.com/article/36252144-using-for-loop-tag-in-tab-nav-bootstrap-with-django.shtml -->
<!-- watch out this url to fix the page -->

<!-- new template -->

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sidebar Page
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Sidebar Page</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <div class="list-group">
                {% for item in culture_list %}
                <a href="/culture/{{item.cultureid}}" class="list-group-item">{{item.culture_item}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            {% for detail in culture_detail %}
            <a href="/main_list/{{detail.culture_name.cultureid}}/{{list.id}}" class="list-group-item">{{detail.culture_headline}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
{% endblock content %}
