{% extends 'index.html' %}


{%block content%}
<!-- http://www.mzan.com/article/36252144-using-for-loop-tag-in-tab-nav-bootstrap-with-django.shtml -->
<!-- watch out this url to fix the page -->


<ul class="nav nav-tabs" role="tablist">
    {% for company in companys %}
    <li role="presentation"><a href="#{{company.id}}" aria-controls="{{company.id}}" role="tab" data-toggle="tab">{{company.tag}}</a></li>
    {%endfor%}
</ul>


<br/>
----------------------------------------------------
<div class="tab-content">
    {% for company in companys%}
    <div class="tab-pane" id="{{company.id}}">
        {%for content in contents%}
            {% if content.company_name.id == company.id%}
            {{content.body_text}}
            {%endif%}
        {%endfor%}
    </div>
    {% endfor %}
</div>

{%endblock content%}