{% extends 'index.html' %}

{%block content%}
<!-- http://www.mzan.com/article/36252144-using-for-loop-tag-in-tab-nav-bootstrap-with-django.shtml -->
<!-- watch out this url to fix the page -->


<nav>
  <ul class="pagination">
    <li>
      {% if lists.has_previous %}
      <a href="?page={{lists.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% endif%}
    </li>

    <li>
      <a href="#">Page {{lists.number}} of {{lists.paginator.num_pages}}</a>
    </li>

    <li>
      {% if lists.has_next %}
      <a href="?page={{lists.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </li>
  </ul>
</nav>




<!-- new template -->

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sidebar Page
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Sidebar Page</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    {% for company in companys %}
                    <a href="/main_list/{{company.companyid}}" class="list-group-item">{{company.company_name}}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                {% for list in lists %}
                <a href="/main_list/{{list.company_name.companyid}}/{{list.id}}" class="list-group-item">{{list.headline}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
{% endblock content %}
