{% extends 'index.html'%}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{content.company_name}}
                    <small>by <a href="#">{{content.author.author_name}}</a>
                    </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Post</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> {{content.pub_date}}</p>

                <hr>

                <!-- Preview Image -->

                <hr>
                {{content.body_text|safe}}
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->

            </div>

            <!-- Blog Sidebar Widgets Column -->

        <hr>

    </div>
{% endblock %}
